<connectionStrings>
  <add name="MiniTrello.Local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MiBaseDatos;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="MiniTrello.Remote" connectionString="Server=2e575928-6c32-4ea6-a373-a2dc01773c8a.sqlserver.sequelizer.com;Database=db2e5759286c324ea6a373a2dc01773c8a;User ID=npkvmfchewrqkkjd;Password=4Th35vmYp25W7xwMZAK6awZNtbovScibgchBzDVkxGJKqrtVDbV7WxhE2AG3gYgm;"/>
</connectionStrings>